<h1>Demo View</h1>
<div class="header">
  <div class="category-selector-wrapper">
    <app-category-selector
      (categoriesLoad)="categories = $event"></app-category-selector>
  </div>
  <div class="category-title-wrapper"><h2>{{ selectedCategory }}</h2></div>
</div>
<div class="content">
<!--  left side-->
  <div>
    <div class="category-item"
         [ngClass]="{ 'selected' : category === selectedCategory }"
         *ngFor="let category of categories"
         (click)="onCategoryItemClick(category)"
    >
      <h3>{{ category }}</h3>
      <p>Content for {{ category }}</p>
    </div>
  </div>
<!--  right side-->
  <div>{{ !isLoading ? data.data : 'Loading...' }}</div>
</div>
